body, html{
    background-color: black;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  
}


.navbar-nav{
    padding-right: 50%;
}

.navbar{
    background-color: transparent;
   color: white;
}

.navbar .navbar-nav .nav-link{
    font-size: 22px;
    padding: 45px;
    color: white;
}

.navbar .navbar-nav .nav-link:hover {
color: black;
}



#Intro{
    background: url(./images/DSC_0021.jpg) center center no-repeat;
    background-size: cover;
    height:100% ;
    color: white;
    display: flex;
    align-items: center;
}

